### Requirements to install ###
# bokeh
descartes
geopandas
ipyleaflet
notebook
pandas
matplotlib
requests
scikit-learn
statsmodels

### Built-ins ###
# ast
# configparser
# os
# warnings

# to do: add version for each requirement